.modalContainer{
  background-color: rgb(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  background-color: darkgreen;
  border-radius: 15px;
  width: 400px;
  height: auto;
  padding: 14px;
  color: white;
}
.popup h1 {
  font-size: 20px;
}
.popBtn {
  display: block;
margin: 5px auto 5px;}
.popBtn:hover {
  background-color: black;
  color: gold;
}