.toTop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: darkred;
    padding: 2px 14px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.h1 {
    background-color: darkblue;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    padding: 14px;
}